:root{
    --backgorund: white;
    --font: black;
}
*{
    cursor: url(pointers/Black-Arrow.png), url(pointers/White-Arrow.png), url(pointers/reload.png),auto;
}
body{
    top: 0;
    left: 0;
    background-color: var(--backgorund);
}
#invert{
    cursor: pointer;
    float: right;
    margin: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--font);
}
#back{
    cursor: pointer;
    float: left;
    margin: 2vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--font);
    text-decoration: none;
}
#block{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
}
#label{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: var(--font);
}
#icon{
    cursor: not-allowed;
    margin-inline: 1vh;
    width: 6vh;
    display: inline;
    filter: invert(0);
}
#label h1{
    margin-inline: 1vh;
    display: inline;
}
#time{
    margin-top: 11vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--font);
}
#time h2{
    margin-inline: 1vh;
    display: inline;
}
#points{
    margin-top: 16vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    color: var(--font);
}
#points h2{
    margin-inline: 1vh;
    display: inline;
}
#face{
    cursor: pointer;
    position: absolute;
    width: 3vh;
    top: 50%;
    left: 50%;
    filter: invert(0);
}
#start{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    background-color: rgba(127, 255, 212, 0.85);
}
#start h1{
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--font);
}