*{
    cursor: url(pointers/Black-Arrow.png), url(pointers/White-Arrow.png), url(pointers/reload.png),auto;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.game-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.game-mode .left {
    flex: 1;
}

.game-mode .right {
    flex: 1;
    text-align: right;
}

.game-mode h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.game-mode p {
    margin: 10px 0;
    color: #666;
}

.game-mode button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.game-mode button:hover {
    background-color: #45a049;
}