*{
    cursor: url(pointers/Black-Arrow.png),url(pointers/White-Arrow.png), url(pointers/reload.png),auto;
}
body{
    top: 0;
    left: 0;
    height: 100% - 3vh;
    width: 100% - 2vh;
}
#label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: black;
    width: max-content;
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 3vh;
    left: 50%;
    transform: translateX(-60%);
}
#label #icon{
    cursor: not-allowed;
    margin-inline: 1vh;
    width: 6vh;
    display: inline;
}
#label h1{
    margin-inline: 1vh;
    display: inline;
}
#face{
    cursor: pointer;
    position: absolute;
    width: 3vh;
    top: 50%;
    left: 50%;
}