:root{
    --backgorund: white;
    --shadow: rgba(0, 0, 0, 0.1);
    --font: black;
    --mouse: url(pointers/Black-Arrow.png);
}
*{
    margin: 0;
    cursor: url(pointers/Black-Arrow.png), url(pointers/White-Arrow.png), url(pointers/reload.png),auto;
}
body{
    top: 0;
    left: 0;
    background-color: var(--backgorund);
}
#label{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: var(--font);
    width: max-content;
    display: block;
    position: absolute;
    margin-top: 3vh;
    left: 50%;
    transform: translateX(-60%);
}
#icon{
    margin-inline: 1vh;
    width: 8vh;
    display: inline;
    filter: invert(0);
}
#label h1{
    margin-inline: 1vh;
    display: inline;
}
.menu{
    cursor: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: block; */
    width: auto;
    text-align: center;
    color: var(--font);
}
.menu h1{
    padding: 2vh;
}
.menu h1:hover{
    background-color: aquamarine;
}
.menu h1:active{
    background-size: cover;
    background-color: var(--backgorund);
    filter: invert(1);
}
#play{
    display: none;
}
#options{
    display: none;
}
#faces{
    display: none;
    cursor: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    align-items: center;
    justify-content: center;
}
#faces ul{
    cursor: inherit;
}
#faces ul li{
    cursor: inherit;
    display: inline-block;
}
.iconFaces{
    cursor: pointer;
    width: 10vh;
    margin: 5vh;
    filter: invert(0);
}
#faces h1{
    width: max-content;
    padding: 2vh;
    color: var(--font);
    align-self: center;
    margin: 0 auto;
}
#faces h1:hover{
    background-color: aquamarine;
}
#faces h1:active{
    background-size: cover;
    background-color: var(--backgorund);
    filter: invert(1);
}